@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
body {
  font-family: 'Raleway', sans-serif;

}
html{
  width: 100%;
}
.h1{
  background:red;
  color:white;
  font-size: 50px;
  text-align:center;

    font-weight:bolder;}
.btn{
  display: inline-block;
  transition-duration: 1.5s;
  color: white;
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 20px 30px;
  margin: 20px;
  text-decoration: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.btn:hover{
    display: inline-block;
    transition-duration: 1.5s;
    color: white;
    background-color: brown;
    border-radius: 8px;
    padding: 20px 30px;
    margin: 20px;
    text-decoration: none;
}
.links{
  text-align: center;
  margin-top: 200px;
  width:100%
}
.logo{
  display: block;
  padding: 10px;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
  display: block;
  height: 20px;
  width: 20px;
}
body{
  height: 1000px;
  background-image: linear-gradient(to bottom right, brown, blue);
}
.links span{
  color: white;
  text-weight:bolder;
  font-size: 5em;
}
h1, p{
  text-align: center;
  color: white;

}
